<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Detalles del Evento</h5>
            </div>
            <div class="modal-body">
                <h4><%= event.Title %></h4>
                
                <p><%= event.Description %></p>
                
                <p><strong>Fecha:</strong> <span><%= new Date(event.DateTime).toLocaleString() %></span></p>
                <p><strong>Ubicación:</strong> <span><%= event.FacultyName %>, <%= event.FacultyUniversity %></span></p>
                <p><strong>Tipo de Evento:</strong> <span><%= event.EventType %></span></p>
                <p><strong>Inscritos:</strong> <span><%= event.EnrollmentCount %></span> / <span><%= event.Capacity %></span> plazas</p>
                <p><strong>Organizador:</strong> <span><%= event.OrganizerID %></span></p>
                
                <p><strong>Tu Estado:</strong> 
                    <% if (event.OrganizerID === user) { %>
                        Organizador
                    <% } else { %>
                        <% 
                            let userStatus;
                            switch (event.Status) {
                                case 'confirmed':
                                    userStatus = 'Inscrito';
                                    break;
                                case 'waiting':
                                    userStatus = 'En Cola';
                                    break;
                                default:
                                    userStatus = 'No Inscrito';
                            }
                        %>
                        <%= userStatus %>
                    <% } %>
                </p>
            </div>
            <div class="modal-footer">
                <% if (event.OrganizerID === user) { %>
                    <a href="/events/info?eventID=<%= event.EventID %>" type="button" id="editButton" class="btn btn-primary w-100">Editar Evento</a>
                <% } else { %>
                    <% if (event.Status === 'confirmed' || event.Status === 'waiting') { %>
                        <a href="#" type="button" id="dropOutButton" class="btn btn-danger w-100">Desapuntarse del Evento</a>
                    <% } else { %>
                        <a href="#" type="button" id="signUpButton" class="btn btn-success w-100">Apuntarse al Evento</a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>
